@if (palettes().length > 0) {
<div class="flex justify-between items-center mb-4">
  <div class="text-3xl font-thin">My Palettes</div>
  <p-button label="Create Palette" [rounded]="true" icon="pi pi-plus" (onClick)="router.navigate(['create-palette'])" />
</div>
<div class="py-4">
  <p-dataview #dv [value]="palettes()" class="my-4">
    <ng-template #list let-items>
      @for (item of items; track item.id) {
      <app-palette-row [palette]="item"></app-palette-row>
      }
    </ng-template>
  </p-dataview>
</div>
} @else {
<div class="flex flex-col items-center justify-center mt-20 gap-4">
  <i class="pi pi-palette pi-primary" style="font-size: 2rem"></i>
  <p class="text-gray-500 text-lg">No palettes yet. Start by creating a new palette!</p>
  <p-button label="Create Palette" [rounded]="true" icon="pi pi-plus" (onClick)="router.navigate(['create-palette'])" />
</div>
}
