:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep p,
:host ::ng-deep pre {
  margin-bottom: calc(var(--spacing) * 4);
}

:host ::ng-deep h1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-thin);
}

:host ::ng-deep h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-light);
}

:host ::ng-deep code {
  background-color: var(--color-gray-800);
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1);
  border-radius: var(--p-fieldset-border-radius);
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

:host ::ng-deep pre {
  background-color: var(--color-gray-700);
  padding: 16px;
  border-radius: var(--p-fieldset-border-radius);
  overflow: auto;
}

:host ::ng-deep pre code {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}