/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";
h1, h2, h3, h4,
p, ul, pre {
  margin-bottom: calc(var(--spacing) * 4);
}

h1, h2 {
  font-weight: var(--font-weight-thin);
}

h3, h4 {
  font-weight: var(--font-weight-medium);
}

p, ul {
  font-size: var(--text-base);
}

p {
  line-height: var(--text-lg--line-height);
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

ul {
  padding-left: calc(var(--spacing) * 5);
  list-style: disc;
  display: grid;
  gap: calc(var(--spacing) * 2);
}

code {
  background-color: var(--color-gray-800);
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1);
  border-radius: var(--radius-sm);
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  color: var(--color-gray-300);
}

pre {
  background-color: var(--color-gray-700);
  padding: 16px;
  border-radius: var(--radius-sm);
  overflow: auto;
}

pre code {
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}
/* PrimeUI overrides and customizations */
.pi-primary {
  color: var(--p-primary-400);
}